<%- include('partials/header', { pageType: 'Customers', pageTitle: 'List Our Customers' }) %>

<section style="text-align: center; font-size: 18px; margin: 15px 0;">
  <a href="/customers/register">REGISTER</a>
</section>

<section style="font-size: 18px;">
  <table border="1" style="margin: auto;"> 
    <thead>
      <tr>
        <th>Identity Number</th>
        <th>FullName</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- Start JS Code -->
      <% customerData.forEach(customer => { %>
        <tr>
          <td><%= customer.identityNumber %></td>
          <td><%= customer.fullName %></td>
          <td>
            <a href="#">View Account</a> || 
            <a href="#">Edit Profile</a> || 
            <a href="#">Delete</a>
          </td>
        </tr>        
      <% }); %>
      <!-- End JS Code -->
    </tbody>
  </table>
</section>

<%- include('partials/footer') %>