<%- include('partials/header', { pageType: 'Home', pageTitle: 'Bank Glasgow Fox' }) %>

<section style="text-align: center; font-size: 22px;">
  <a href="/customers">ENTER</a>
</section>

<%- include('partials/footer') %>